<ul class="crypto">
  <li>Credit Card &mdash; <a href="https://paypal.me/gleasonator" target="_blank">PayPal</a> (alex@alexgleason.me)</li>
  <li>Bitcoin &mdash; <span class="wallet-id">bc1q9cx35adpm73aq2fw40ye6ts8hfxqzjr5unwg0n<span></li>
  <li>Etherium &mdash; <span class="wallet-id">0xAc9aB5Fc04Dc1cB1789Af75b523Bd23C70B2D717<span></li>
  <li>Dogecoin &mdash; <span class="wallet-id">D5zVZs6jrRakaPVGiErkQiHt9sayzm6V5D<span></li>
  <li>Ubiq (10grans) &mdash; <span class="wallet-id">0x541a45cb212b57f41393427fb15335fc89c35851</span></li>
  <li>Monero &mdash; <span class="wallet-id wallet-id--yuge">45JDCLrjJ4bgVUSbbs2yjy9m5Mf4VLPW8fG7jw9sq5u69rXZZopQogZNeyYkMBnXpkaip4p4QwaaJNhdTotPa9g44DBCzdK</span></li>
</ul>
