<div class="topnav">
  <div class="wrap">
    <a class="topnav__logo" href="/">
      <img class="logo" src="/images/logo.svg" alt="Logo">
      <span>Soapbox</span>
    </a>
    <ul class="topnav__items">
      <li><a href="/install/">Install</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="https://docs.soapbox.pub" target="_blank">Docs</a></li>
    </ul>
  </div>
</div>
