---
title: Soapbox | Social Media Server
meta:
  description: A social media server with a focus on custom branding and ease-of-use.
  "og:title": Soapbox Social Media
  "og:type": website
  "og:image": https://soapbox.pub/images/logo.svg
  "og:description": A social media server with a focus on custom branding and ease-of-use.
  "og:locale": en_US
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="msapplication-TileColor" content="#0482d8">
    <meta name="theme-color" content="#0482d8">
    <link rel="manifest" href="/site.webmanifest">
    {% for name, content in meta -%}
      <meta name="{{ name }}" content="{{ content }}">
    {% endfor -%}
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styles/fork-awesome.css">
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0482d8">
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
