---
layout: layouts/base.njk
---
{% include "topnav.njk" %}

<div class="blog">
  {% if blog.title -%}
  <div class="blog__banner">
    <div class="blog__banner-text">
      <h1>{{ blog.title }}</h1>
      {% if blog.byline %}<div class="blog__byline">{{ blog.byline }}</div>{% endif %}
    </div>
  </div>
  {%- endif %}

  {% if blog.screenshot -%}
  <div class="wrap">
    <img class="screenshot" src="{{ blog.screenshot }}">
  </div>
  {%- endif %}

  {% if blog.lead -%}
  <div class="blog__intro">
    <div class="wrap blog__intro-inner">
      <p class="lead">{{ blog.lead | safe }}</p>
      <div class="actions">
        <a class="button" href="{{ blog.code_url }}" target="_blank">
          <i class="fa fa-external-link" aria-hidden="true"></i>
          View code
        </a>
      </div>
    </div>
  </div>
  {%- endif %}

  <div class="wrap">
    {% if blog.date %}<div class="blog__date">{{ blog.date }}</div>{% endif %}
    {{ content | safe }}
  </div>
  <img class="wave" src="/images/wave.svg">
</div>

<div class="blog__footer">
  <div class="wrap">
    <div class="copyheart"><i class="fa fa-heart" aria-hidden="true"></i> 2021. Copying is an act of love. Please copy and share.</div>
  </div>
</div>
