---
layout: layouts/base.njk
title: Soapbox Blog | Soapbox | Social Media Server
---
{% include "topnav.njk" %}

<div class="blog-index wrap">
  <h1 class="blog-index__title">Blog</h1>
  <div class="cards">
  {%- for blog in collections.blog | reverse -%}
    <a class="card" href="{{ blog.url }}">
      <div class="card__image" style="background-image: url('{{ blog.data.blog.thumb }}')"></div>
      <div class="card__header">
        <div class="card__title"><h3>{{ blog.data.blog.title }}</h3></div>
        <div class="card__date">{{ blog.data.blog.date }}</div>
      </div>
      <div class="card__blurb">{{ blog.data.blog.blurb | truncate }}</div>
    </a>
  {% endfor -%}
  </div>
</div>
