---
layout: layouts/base.njk
title: Soapbox | Social Media Server
meta:
  description: A social media server with a focus on custom branding and ease-of-use.
  "og:title": Soapbox Social Media
  "og:type": website
  "og:url": https://soapbox.pub
  "og:image": https://soapbox.pub/images/logo.svg
  "og:description": A social media server with a focus on custom branding and ease-of-use.
  "og:locale": en_US
---
{% include "topnav.njk" %}

<div class="banner">
  <div class="wrap">
    <h1><img class="logo" src="/images/logo.svg" alt="Logo">Soapbox</h1>
    <div class="tagline">Social media server with a focus on custom branding and ease-of-use.</div>
    <img class="screenshot" src="/images/screenshot-inside.png">
    <div class="actions">
      <a class="button alt" href="/install/"><i class="fa fa-download"></i> Install</a>
      <a class="button" href="https://gitlab.com/soapbox-pub"><i class="fa fa-code-fork"></i> Source Code</a>
    </div>
    <img class="wave" src="/images/wave.svg">
  </div>
</div>
<div class="main">
  <div class="wrap">
    <div class="cards">
      <div class="card">
        <h2><i class="fa fa-gears"></i> Fast & Efficient</h2>
        <p>Soapbox will save you money. Compared to the alternatives, it uses a lot less RAM and scales with ease.</p>
      </div>
      <div class="card">
        <h2><i class="fa fa-paint-brush"></i> Customizable</h2>
        <p>Each community is different. That's why Soapbox lets you customize the brand, logo, colors, and even the site's functionality.</p>
      </div>
      <div class="card">
        <h2><i class="fa fa-user"></i> User Experience</h2>
        <p>We have a background in design and digital marketing. Users come first in every decision we make.</p>
      </div>
    </div>
    <div class="install">
      <h1>Soapbox FE on Pleroma</h1>
      <p style="font-size: 18px; max-width: 620px;">If you're starting a new server, we recommend following our <a href="/install/">install guide</a>, otherwise you can install Soapbox FE on Pleroma with the instructions below.</p>
      <div class="steps">
        <div class="step">
          <h2>1. Install Pleroma</h2>
          <p>Follow the instructions to install Pleroma on a fresh VPS. We recommend using Ubuntu 20.04 LTS.</p>
          <a class="button" href="https://docs-develop.pleroma.social/backend/installation/debian_based_en/" target="_blank">
            Install Pleroma
          </a>
        </div>
        <div class="step">
          <h2>2. Install soapbox-fe</h2>
          <p>The Soapbox frontend is the main component of Soapbox. Once you've installed Pleroma, installing soapbox-fe is a breeze.</p>
          <h3>2.1 Fetch the latest build</h3>
          <pre><code>curl -L https://gitlab.com/soapbox-pub/soapbox-fe/-/jobs/artifacts/{{ soapbox.ref }}/download?job=build-production -o soapbox-fe.zip</code></pre>
          <h3>2.2. Unpack</h3>
          <pre><code>busybox unzip soapbox-fe.zip -o -d /opt/pleroma/instance</code></pre>
          <p>
            <strong>That's it! &#127881; soapbox-fe is installed.</strong>
            The change will take effect immediately, just refresh your browser tab.
            It's not necessary to restart the Pleroma service.
          </p>
          <p><em><strong>For OTP releases,</strong> unpack to /var/lib/pleroma instead.</em></p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="social-icons">
        <a href="https://gitlab.com/soapbox-pub" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
      </div>
      <div class="copyheart"><i class="fa fa-heart" aria-hidden="true"></i> 2021. Copying is an act of love. Please copy and share.</div>
    </div>
  </div>
</div>
