@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url('/fonts/Lato/Lato-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
}

:root {
  --brand-color: #0482d8;
  --background-color: #f2f2f2;
  --brand-font: 'Montserrat', sans-serif;
  --body-font: 'Lato', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  font-size: 16px;
  background-color: var(--background-color);
}

a {
  color: var(--brand-color);
}

::selection {
  background-color: var(--brand-color);
  color: white;
}

.wrap {
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
}

.banner {
  padding: 30px 0 80px 0;
  color: var(--brand-color);
  position: relative;
}

.banner .wrap {
  text-align: center;
  overflow: hidden;
}

.banner h1 {
  font-size: 6rem;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner h1 .logo {
  height: 80px;
  margin-right: 20px;
}

.banner .tagline {
  font-size: 1.5rem;
  margin: 50px auto;
  line-height: 1.4;
  max-width: 400px;
}

.banner .actions {
  margin-top: 20px;
}

.banner .button {
  font-size: 20px;
}

.info-box {
  background: yellow;
  padding: 20px 15px;
  border-radius: 6px;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  z-index: -1;
  user-select: none;
}

.wave::selection {
  background-color: transparent;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 12px;
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  transition: 0.2s;
}

.button:hover {
  transform: translateY(-2px);
}

.button.alt {
  background-color: var(--brand-color);
  color: white;
}

h1 {
  font-family: var(--brand-font);
  font-weight: bold;
}

img.screenshot {
  max-width: 100%;
  margin: 40px 0;
  box-shadow: 0 2px 10px 0px rgba(0,0,0,0.5);
  border-radius: 4px;
}

.main {
  background-color: var(--brand-color);
  position: relative;
  color: white;
}

.main *::selection,
.blog__intro *::selection,
.blog__footer *::selection {
  background-color: white;
  color: black;
}

.main a {
  color: white;
}

.main .actions {
  margin: 80px 0;
}

.main .button {
  border-color: white;
}

.install {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.5);
}

.footer {
  margin: 100px 0 20px;
}

.copyheart {
  font-size: 0.8rem;
  opacity: 0.8;
  font-style: italic;
  text-align: center;
}

.social-icons {
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a {
  opacity: 0.9;
  transition: 0.2s;
  display: block;
}

.social-icons a:hover {
  opacity: 1;
  transform: translateY(-1px);
}

.social-icons a i {
  font-size: 32px;
}

.steps {
  display: flex;
  margin: -40px 0 0 -40px;
  overflow: hidden;
}

.steps .step {
  min-width: 400px;
  margin: 40px 0 0 40px;
}

code,
.code {
  font-family: monospace;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 6px;
  overflow-y: hidden;
}

code::selection,
.code::selection {
  background-color: white;
  color: black;
}

pre code,
pre.code,
div.code {
  padding: 15px;
  display: block;
  line-height: 1.3;
}

@media screen and (max-width: 650px) {
  .wave {
    display: none;
  }

  .banner {
    padding-bottom: 0;
  }

  .banner h1 {
    font-size: 13vw;
  }

  .banner h1 .logo {
    height: 13vw;
  }

  .banner h1::before {
    font-size: 10px;
  }

  .banner .tagline {
    margin: 20px auto;
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .steps {
    display: block;
  }

  .steps .step {
    min-width: auto;
  }
}

.blog {
  font-size: 20px;
  position: relative;
  padding-bottom: 100px;
}

.blog__byline {
  color: hsla(0, 0%, 0%, 0.7);
}

.blog__date {
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.7);
}

.blog__banner {
  display: flex;
}

.blog__banner-text {
  margin: 80px auto;
  padding: 0 20px;
}

.blog__banner-text h1 {
  color: var(--brand-color);
  font-family: var(--brand-font);
  font-size: 48px;
  margin: 0;
}

.blog__intro {
  margin-top: 30px;
  background: var(--brand-color);
  color: white;
}

.blog__intro .button {
  color: white;
  border-color: white;
}

.blog__intro a {
  color: white;
}

.blog__intro-inner {
  display: flex;
  padding: 60px 20px;
}

.blog__intro p.lead {
  font-size: 24px;
  line-height: 1.7;
  max-width: 600px;
  margin: 0 20px 20px 0;
  flex: 1;
}

.blog p {
  line-height: 1.7;
  max-width: 700px;
}

.blog li {
  line-height: 1.7;
  max-width: 700px;
  margin-bottom: 10px;
}

.blog h2 {
  margin-top: 60px;
  font-family: var(--brand-font);
  font-weight: bold;
  color: var(--brand-color);
}

.blog__intro .actions {
  margin-left: auto;
}

.blog .gallery {
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .1);
}

.blog img {
  max-width: 100%;
}

.topnav .wrap {
  display: flex;
  align-items: center;
}

.topnav__logo {
  font-size: 30px;
  font-family: var(--brand-font);
  font-weight: bold;
  color: var(--brand-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.topnav__logo img {
  height: 30px;
  margin-right: 10px;
}

.topnav__logo span {
  overflow: hidden;
  transition: 0.7s;
  display: block;
  width: 100%;
}

@media(max-width: 500px) {
  .topnav__logo span {
    width: 0;
  }
}

.topnav__items {
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: flex;
  list-style-type: none;
  transform: translateY(2px);
}

.topnav__items li {
  padding: 0 0 0 40px;
  margin: 0;
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}

.topnav__items li a {
  color: #577285;
  text-decoration: none;
}

.blog {
  word-break: break-word;
}

.blog__footer {
  background: var(--brand-color);
  color: white;
}

.blog__footer .copyheart {
  margin: 40px 0 60px;
}

@media(max-width: 500px) {
  .blog {
    font-size: 18px;
  }

  .blog__banner-text {
    margin: 40px auto;
  }

  .blog__banner-text h1 {
    font-size: 36px;
  }

  .blog__intro-inner {
    display: block;
  }
}

.notice {
  padding: 10px 20px;
  text-align: right;
}

.notice a {
  font-style: italic;
}

.blog .screenshot {
  margin-top: 0;
}

.blog blockquote {
  margin: 40px 0 40px 40px;
  max-width: 600px;
  font-style: italic;
}

.blog blockquote .quote {
  font-size: 28px;
  line-height: 1.2;
  margin: 0;
  color: hsla(0, 0%, 0%, 0.7);
}

.blog blockquote .quote::before {
  content: '\201c';
}

.blog blockquote .quote::after {
  content: '\201d';
}

.blog blockquote .attribution {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 20px;
  white-space: nowrap;
  display: inline-block;
}

.blog-index__title {
  text-align: center;
  color: var(--brand-color);
  font-size: 70px;
  margin: 0 0 60px;
}

.cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

a.card {
  color: black;
  text-decoration: none;
}

.card__header {
  margin: 18px 0;
}

.card__title {
  font-size: 16px;
  font-weight: bold;
  color: var(--brand-color);
}

.card__title h3 {
  margin: 0;
}

.card__image {
  width: 100%;
  height: 185px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}

.card__date {
  opacity: 0.6;
  margin: 2px 0;
}

.wallet-id {
  font-size: 16px;
  word-wrap: break-word;
}

.wallet-id--yuge {
  font-size: 10px;
}
